* {
	margin:0;
	padding:0;
}
body {
	margin:0;
	height:100vh;
}
.day {
	height:100%;
	.slots {
		position: relative;
		height:100%;
		section {
			position: absolute;
			width:100%;
			left: 0;
			border: 1px solid black;
			text-align: center;
		}
	}
}