* {
	margin:0;
	padding:0;
}
body {
	margin:0;
	height: 95vh;
	text-align: center;
}

.days {
	height:100%;
	.day {
		height:100%;
		width:49%;
		box-sizing: border-box;
		display:inline-block;
		header {
			background: rgba(0, 50, 252, 0.1);
		}
		.hatch-mark {
			position: absolute;
			height: 1px;
			width: 100%;
			background: rgba(155,155,155,0.2);
			z-index:0;
			left: 0;
		}
	}
}

.slots {
	position: relative;
	height:100%;
	section {
		position: absolute;
		background:rgba(155,255,255,0.32);
		z-index:1;
		width:100%;
		left: 0;
		border: 1px solid black;
		text-align: center;
		box-sizing: border-box;
		border-radius: 6px;
	}
}